In [8]:
txt = 'LMaasleitbtui'
print(txt[::2])

Lasetti

In [9]:
print(txt[1::2])

Malibu

In [2]:
txtt = 'toshkent'
print(len(txtt))

8

In [10]:
txtt = 'toshkent'

to

In [35]:
def replacefirstchar(string):
       if len(string) == 0 :
string = '0'
firstchar = '0'
natija = firstchar + string['1:'].replace('firstchar', '$')
txtt = 'toshkent'
result = replacefirstchar.replace ('txtt')
print (result)

SyntaxError: expected ':' (1643152226.py, line 2)

In [55]:
H = ('abs xyz')
result = H.replace('s','z')
print(result)

abz xyz

In [63]:
txtt = 'toshkent /nuzbek'
txtt

'toshkent /nuzbek'

In [1]:
cardinal_numbers = ("first", "second","third")

In [2]:
print(cardinal_numbers[1])

second

In [3]:
cardinal_numbers

('first', 'second', 'third')

In [6]:
a,b,c = cardinal_numbers
a

'first'

In [7]:
b

'second'

In [8]:
c

'third'

In [9]:
my_name = ("Azamat","Samandar")

In [10]:
a,b=my_name
a[0]

'A'

In [11]:
b[0]

'S'

In [12]:
food = ["rice" , "beans"]
food

['rice', 'beans']

In [ ]:
food.append("broccoli")

['rice', 'beans', 'broccoli', 'broccoli']

In [16]:
food.remove("broccoli")

In [17]:
food

['rice', 'beans', 'broccoli']

In [19]:
food.extend(["bread" , "pizza"])
food

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [20]:
print(food[:2])

['rice', 'beans']

In [21]:
print(food[-1])

pizza

In [22]:
fruit = ['eggs', 'fruit', 'orange','juice']
fruit

['eggs', 'fruit', 'orange', 'juice']

In [23]:
fruit = "eggs, fruit, orange, juice"

In [31]:
a = fruit.split(', ')

In [32]:
a

['eggs', 'fruit', 'orange', 'juice']

In [43]:
len(fruit[:-7])

19

In [42]:
fruit[:-7]

'eggs, fruit, orange'

In [51]:
b = [str(len(a[0]))+','+str(len(a[1]))+','+str(len(a[2]))+','+str(len(a[3]))]
b

['4,5,6,5']

In [52]:
num =  [1, 3, 5, 7, 9, 2, 4, 6, 8]
num

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [53]:
min(num)

1

In [64]:
colors = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
a = colors.pop(4)

In [66]:
a = [1,4,7,3]
b = [3,5,2,7]

In [70]:
set(a)&set(b)

{3, 7}

In [71]:
a[1]

4

In [77]:
a.extend(b)

In [82]:
num.sort()
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
max(num[:2])

2

In [88]:
a = [1,4,7,3]
b = [3,5,2,7]

In [89]:
set(a)&set(b)

{3, 7}

In [90]:
fruit = "eggs, fruit, orange, juice"

In [91]:
a,b,c,d = fruit.split(', ')

In [92]:
a

'eggs'

In [93]:
b

'fruit'

In [94]:
c

'orange'

In [95]:
d

'juice'

In [98]:
num[0::2]

[1, 3, 5, 7, 9]

In [112]:
a = [1, 3, 5, 7, 9, 10]
b = [2, 4, 6, 8]

In [108]:
a.remove(a[-1])

In [110]:
a.extend(b)

In [111]:
a

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [113]:
a[-1:] = b

In [114]:
a

[1, 3, 5, 7, 9, 2, 4, 6, 8]