In [8]:
# 1
d1= ['Ten', 'Twenty', 'Thirty']
d2 = [10, 20, 30]

dict(zip(d1,d2))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
# 2
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [30]:
# 3
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [ ]:
# 4
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict.fromkeys(employees,defaults)

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [45]:
# 5
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
newdict = {key: sample_dict[key] for key in keys}
print(newdict)

{'name': 'Kelly', 'salary': 8000}

In [46]:
# 6
for i in keys:
    sample_dict.pop(i)
    print(sample_dict)

{'age': 25, 'salary': 8000, 'city': 'New york'}
{'age': 25, 'city': 'New york'}

In [49]:
# 7
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 in sample_dict')

200 in sample_dict

In [61]:
# 8
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [67]:
# 9
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict)

'Math'

In [69]:
print(min(sample_dict, key = sample_dict.get))

Math

In [88]:
# 10
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3'].update({'salary' : 8500})
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}